<div class="row">
  <div class="col">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>The Hardball Alliance &copy; {{year}}</p>
  </div>
  <div class="col">
    <p>
      Site created by&nbsp;
      <a href='https://www.betterin30days.com/'>Better In 30 Days</a>&nbsp;
      <a href='https://github.com/betterin30days/thehardballalliance.com'>
        <img src="assets/img/social/GitHub-Mark-32px.png">
      </a>
    </p>
  </div>
  <div class="col">
    <p class="pLink" (click)="clickNavButton('/admin')">Admin</p>
  </div>
  <div class="col">
    <p>
      Follow us at&nbsp;
      <a href='https://www.instagram.com/thehardballalliance/'>
        <img src="assets/img/social/IG-glyph-logo_May2016.png">
      </a>
    </p>
  </div>
</div>
