<div class="container">
  <div class="row">
    <div class="col">
      <label>Create a new post</label>
      <form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="center-block">Title:
            <input class="form-control" formControlName="title">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Body:
            <textarea class="form-control" formControlName="body"></textarea>
          </label>
        </div>
        <button type="submit" [disabled]="!newPostForm.valid" class="btn btn-success">
          Submit New Post
        </button>
        <div *ngIf="message" class="alert" [ngClass]="{'alert-danger': messageIsError, 'alert-success': !messageIsError}" role="alert">
          {{message}}
        </div>
      </form>
    </div> <!-- Form -->
    <div class="col">
      <label>Preview:</label>
      <app-news-post
        [title]=formTitle
        [body]=formBody>
      </app-news-post>
    </div> <!-- Preview -->
  </div>
</div>