<div class="row">
    <div class="col">
      <h3>Leauge Leaders</h3>
    </div>
  </div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team</th>
          <th scope="col">W</th>
          <th scope="col">L</th>
          <th scope="col">PCT</th>
          <th scope="col">STRK</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>TeamA</td>
          <td>3</td>
          <td>0</td>
          <td>1.000</td>
          <td>W3</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>TeamB</td>
          <td>2</td>
          <td>1</td>
          <td>.667</td>
          <td>L1</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>TeamC</td>
          <td>1</td>
          <td>2</td>
          <td>.333</td>
          <td>W1</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>TeamD</td>
          <td>0</td>
          <td>3</td>
          <td>.000</td>
          <td>L3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
